<div class="container">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <div class="row" *ngIf="!isLoading">
    <div class="col-md-6 col-xs-12">
        <form [formGroup]="newCharacterForm" *ngIf="currentStep == 1">
          <mat-card class="logos">
            <mat-card-header>
              <mat-card-title>
                Step {{currentStep}}: The Concept
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <label>Choose a cool name for your character:</label>
              <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput type="text" formControlName="name" required>
              </mat-form-field>
              <label>Which legend has taken root in you?</label>
              <mat-form-field appearance="outline">
                <mat-label><fa-icon [icon]="icons.mythos"></fa-icon> Mythos</mat-label>
                <input matInput type="text" formControlName="mythos" required>
              </mat-form-field>
              <label>Who are you in your everyday life?</label>
              <mat-form-field appearance="outline">
                <mat-label><fa-icon [icon]="icons.logos"></fa-icon> Logos</mat-label>
                <input matInput type="text" formControlName="logos" required>
              </mat-form-field>
            </mat-card-content>
          </mat-card>
        </form>
        <form [formGroup]="cardForm" (ngSubmit)="onCardSubmit()" *ngIf="currentStep > 1">
          <mat-card class="logos">
              <mat-card-header>
                <mat-card-title>
                  Step 2: Choose Themes ({{currentStep - 1}}/4)
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <label>Select themebook:</label>
                  <mat-form-field appearance="outline">
                    <mat-label>Themebook</mat-label>
                    <mat-select formControlName="theme" (selectionChange)="checkThemeStatus()">
                      <mat-option *ngFor="let tb of allTbs"
                      value="{{tb.name}}">{{ capitalize(tb.name) }} ({{ capitalize(tb.tbtype) }})</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div *ngIf="selectedTbType != 'none'">
                    <label>Give a cool and fitting title to your theme:</label>
                    <mat-form-field appearance="outline">
                      <mat-label>Title</mat-label>
                      <input matInput type="text" formControlName="title" required>
                    </mat-form-field>
                  </div>
                  <div *ngIf="selectedTbType != 'none'">
                    <label *ngIf="cardForm.value.theme != '' && selectedTbType === 'mythos'">Mystery: What does your Mythos want you to find out?</label>
                    <label *ngIf="cardForm.value.theme != '' && selectedTbType === 'logos'">Identity: What does your character think or feel about this aspect of her life, because of it?</label>
                    <mat-form-field appearance="outline">
                      <mat-label *ngIf="selectedTbType != 'none'">
                        <span *ngIf="selectedTbType === 'mythos'">Mystery</span>
                        <span *ngIf="selectedTbType === 'logos'">Identity</span>
                      </mat-label>
                      <input matInput type="text" formControlName="qors" required>
                    </mat-form-field>
                  </div>
              </mat-card-content>
            </mat-card>
        </form>
        <form (ngSubmit)="onSubmit(tagsForm)" #tagsForm="ngForm" *ngIf="currentStep > 1 && selectedTbType != 'none'">
          <mat-card class="logos" *ngIf="currentStep > 1 && selectedTbType != 'none'">
              <mat-card-header>
                <mat-card-title>
                  {{ capitalize(cardForm.value.theme)  }}
                </mat-card-title>
                <mat-card-subtitle class="tb-subtitle">
                  {{ getTbData(cardForm.value.theme).description }}
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <div class="chargen-section">
                  <div class="chargen-section-title">1. Answer question [A] and two other Power Tag Questions:</div>
                  <div class="chargen-section-content" *ngFor="let letter of ptagletters">
                    <label style="font-weight: bold">[{{letter}}] {{ getTbData(cardForm.value.theme).ptagq[letter] }}</label>
                    <table>
                      <td>Examples: </td>
                      <td>
                        <p class="tag-examples">{{ getTbData(cardForm.value.theme).ptagq[letter.toLowerCase()+'Xmp'] }}</p>
                      </td>
                    </table>
                    <mat-form-field appearance="outline">
                      <mat-label>Answer</mat-label>
                      <input 
                      matInput 
                      type="text" 
                      autocomplete="off"
                      id="p{{letter}}"
                      ngModel
                      name="p{{letter}}"
                      #p[{{letter}}]="ngModel">
                    </mat-form-field>
                  </div>
                </div>
                <div class="chargen-section">
                  <div class="chargen-section-title">2. Answer one Weakness Tag Question:</div>
                  <div class="chargen-section-content" *ngFor="let letter of wtagletters">
                    <label style="font-weight: bold">[{{letter}}] {{ getTbData(cardForm.value.theme).wtagq[letter] }}</label>
                    <table>
                      <td>Examples: </td>
                      <td>
                        <p class="tag-examples">{{ getTbData(cardForm.value.theme).ptagq[letter.toLowerCase()+'Xmp'] }}</p>
                      </td>
                    </table>
                    <mat-form-field appearance="outline">
                      <mat-label>Answer</mat-label>
                      <input 
                      matInput 
                      type="text" 
                      autocomplete="off"
                      id="w{{letter}}"
                      ngModel
                      name="w{{letter}}"
                      #w[{{letter}}]="ngModel">
                    </mat-form-field>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>

            <mat-card class="logos">
              <button 
                mat-raised-button 
                class="btn-mythos" 
                type="submit">Next</button>
            </mat-card>
        </form>
          
          <mat-card class="logos" *ngIf="currentStep === 1">
            <button 
            *ngIf="currentStep === 1"
            mat-raised-button 
            class="btn-mythos" 
            type="button" 
            (click)="onCharacterSubmit()">Next</button>
          </mat-card>
    </div>
  </div>
</div>
<!-- <p>newCharacter JSON object stringified:</p>
<p>{{ newCharacter | json }}</p> -->