<nav class="navbar navbar-dark navbar-expand-lg fixed-top">
  <a class="navbar-brand" routerLink="">
    <fa-icon [icon]="icons.mythos"></fa-icon>
    <span class="main-title">Enter the Mist</span>
    <fa-icon [icon]="icons.logos"></fa-icon>
  </a>
  <button 
  class="navbar-toggler" 
  type="button" 
  (click)="isCollapsed = !isCollapsed"
  data-toggle="collapse" 
  data-target="#navbarSupportedContent" 
  aria-controls="navbarSupportedContent" 
  aria-expanded="false" 
  aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div 
  class="collapse navbar-collapse" 
  [collapse]="isCollapsed"
  [isAnimated]="true"
  id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="userIsAuthenticated">
        <a class="nav-link active" routerLink="/users/view/{{currentUser._id}}" (click)="isCollapsed = !isCollapsed"><fa-icon [icon]="icons.user"></fa-icon> {{currentUser.username}}</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <!-- ADMIN -->
      <li class="nav-item" *ngIf="userIsAdmin">
        <a class="nav-link active" routerLink="/admin" (click)="isCollapsed = !isCollapsed"><fa-icon [icon]="icons.admin"></fa-icon>Admin</a>
      </li>
      <!-- NEWS -->
      <li class="nav-item">
        <a class="nav-link active" routerLink="/news" (click)="isCollapsed = !isCollapsed"><fa-icon [icon]="icons.news"></fa-icon>News</a>
      </li>
      <!-- CHARACTERS -->
      <li class="nav-item" *ngIf="userIsAuthenticated">
        <a class="nav-link active" routerLink="/characters" (click)="isCollapsed = !isCollapsed"><fa-icon [icon]="icons.character"></fa-icon>Characters</a>
      </li>
      <!-- THEMEBOOKS -->
      <li class="nav-item" *ngIf="userIsAuthenticated">
        <a class="nav-link active" routerLink="/themebooks" (click)="isCollapsed = !isCollapsed"><fa-icon [icon]="icons.themebook"></fa-icon>Themebooks</a>
      </li>
      <!-- MOVES -->
      <li class="nav-item" *ngIf="userIsAuthenticated">
        <a class="nav-link disabled" routerLink="" (click)="isCollapsed = !isCollapsed"><fa-icon [icon]="icons.list"></fa-icon>Moves</a>
      </li>
      <!-- LOGIN -->
      <li class="nav-item" *ngIf="!userIsAuthenticated">
        <a class="nav-link active" routerLink="/login" (click)="isCollapsed = !isCollapsed"><fa-icon [icon]="icons.login"></fa-icon>Login</a>
      </li>
      <!-- SIGN UP -->
      <li class="nav-item" *ngIf="!userIsAuthenticated">
        <a class="nav-link disabled" routerLink="" (click)="isCollapsed = !isCollapsed"><fa-icon [icon]="icons.signup"></fa-icon>Sign Up</a>
      </li>
      <!-- LOGOOUT -->
      <li class="nav-item" *ngIf="userIsAuthenticated">
        <a class="nav-link active" routerLink="" (click)="onLogout(); isCollapsed = !isCollapsed"><fa-icon [icon]="icons.logout"></fa-icon>Logout</a>
      </li>
    </ul>
  </div>
</nav>