<nav class="navbar navbar-dark navbar-expand-lg fixed-top">
  <a class="navbar-brand" routerLink="">
    <fa-icon [icon]="icons.mythos"></fa-icon>
    <span class="main-title">Enter the Mist</span>
    <fa-icon [icon]="icons.logos"></fa-icon>
  </a>
  <button 
  class="navbar-toggler" 
  type="button" 
  (click)="isCollapsed = !isCollapsed"
  data-toggle="collapse" 
  data-target="#navbarSupportedContent" 
  aria-controls="navbarSupportedContent" 
  aria-expanded="false" 
  aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div 
  class="collapse navbar-collapse" 
  [collapse]="isCollapsed"
  [isAnimated]="true"
  id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link active" routerLink="characters" (click)="isCollapsed = !isCollapsed"><fa-icon [icon]="icons.character"></fa-icon>Characters</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="themebooks" (click)="isCollapsed = !isCollapsed"><fa-icon [icon]="icons.themebook"></fa-icon>Themebooks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" routerLink="" (click)="isCollapsed = !isCollapsed"><fa-icon [icon]="icons.list"></fa-icon>Moves</a>
      </li>
    </ul>
  </div>
</nav>