<app-go-back></app-go-back>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card class="article-card logos" *ngIf="!isLoading">
  <mat-card-header>
    <mat-card-title class="article-title">
      {{ reqArticle.title }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ conv.stringToDate(reqArticle.createdAt) }}
      <span *ngIf="reqArticle.updatedAt != reqArticle.createdAt">
        Last edit: {{ conv.stringToDate(reqArticle.updatedAt) }}
      </span>
    </mat-card-subtitle>
    <mat-card-subtitle>
      Written by: <a routerLink="/users/view/{{author._id}}">{{ author.username }}</a>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="article-content">
    {{ reqArticle.content }}
  </mat-card-content>
</mat-card>