@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Changa+One|Permanent+Marker|Rock+Salt&display=swap');

.card-general {
  background: lightgrey;
  color: #000;
}

mat-card {
  margin-top: 10px;
}

mat-card.logos {
  margin-bottom: 200px;
}

mat-card.mythos {
  margin-bottom: 200px;
}

.theme-card {
  //height: 30rem;
  margin-bottom: 25px;
}

/*

.mythos mat-card-header {
  height: 25%;
}

.logos mat-card-header {
  height: 25%;
}

*/

mat-card-title {
  font-family: 'Abril Fatface', cursive;
  margin-top: 15px;
}

.tbcard-section {
  margin: 10px 0;
}

.tbcard-section-title {
  display: block;
  font-family: 'Changa One', cursive;
  font-size: 1rem;
  font-weight: 400;
}

mat-card-subtitle {
  font-style: italic;
}

.mythos mat-card-subtitle {
  color: lightgrey;
}

.logos mat-card-subtitle {
  color: rgb(64, 65, 71);
}

.qors {
  margin: 1rem auto;
}

.qors-text {
  display: block;  
  font-size: 1rem;
  font-weight: 400;
}

/* Flipping cards */

.card-container {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-perspective: 500px;
  perspective: 500px;
}

.flippable-card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.flippable-card.desktop mat-card {
  display: block;
  position: absolute;
  width: 100%;
  height: 33rem;
  backface-visibility: hidden;
}

.flippable-card.mobile mat-card {
  display: block;
  position: absolute;
  width: 100%;
  height: 30rem;
  backface-visibility: hidden;
}

.flippable-card .back {
  transform: rotateY( 180deg );
}

.flippable-card .back .mobile {
  position: relative;
  transform: rotateY( 180deg );
}

.flippable-card.flipped {
  transform: rotateY( -180deg );
}

.card-slot {
  position: relative;
}

::ng-deep.mat-pseudo-checkbox{
  display: none !important;
}

.card-action-buttons {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  margin-bottom: 10px;
}

.card-action-button {
  width: 20px;
}

.card-icon {
  display: block;
  position: absolute;
  left: 10px;;
  top: 10px;
}

.tag-letter {
  /* position: absolute; */
  /* left: 10px; */
  margin-right: 5px;
}

.tag-burn {
  position: absolute;
  right: 0;
  width: 20px;
  height: 100%;
}

.tag-burn-icon {
  font-size: 1rem;
}

.hand-written {
  font-family: 'Rock Salt', cursive;
}

::ng-deep.mat-list-text{
  display: inline !important;
}

.mat-list-option.logos {
  color:#000;
}

.btn-tag {
  width: 180px;
  white-space: normal;
  padding: 0;
  text-align: left;
  height: 36px;
  line-height: 20px;
}

.themecard-action-btn {
  margin: 0 5px;
  background-color: inherit;
  color: inherit;
}