<div class="container">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <button 
  *ngIf="!isLoading"
  mat-raised-button
  class="btn-mythos"
  (click)="router.navigate(['characters'])">
    Back
  </button>
  <div class="row"  *ngIf="!isLoading && mobile">
    This page is available only on desktop. Sorry.
  </div>
  <div class="row"  *ngIf="!isLoading && !mobile">
    <div class="col-md-2 col-xs-0"></div>
    <div class="col-md-8 col-xs-12">
      <mat-card class="card-general">
        <mat-card-header *ngIf="!generalIsLoading">
          <mat-card-title>
            General Information on {{ character.name }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content *ngIf="generalIsLoading"><mat-spinner></mat-spinner></mat-card-content>
        <mat-card-content *ngIf="!generalIsLoading">
          <form (ngSubmit)="onUpdateGeneral(generalForm)" #generalForm="ngForm">
            <div class="row">
              <div class="col-md-4 col-xs-12">
                <mat-form-field>
                  <label><span class="general-label">NAME</span></label>
                  <input 
                  matInput 
                  type="text"
                  autocomplete="off"
                  id="name"
                  ngModel="{{ character.name }}"
                  name="name"
                  #name="ngModel">
                </mat-form-field>
              </div>
              <div class="col-md-4 col-xs-12">
                <mat-form-field>
                  <label><fa-icon [icon]="icons.mythos"></fa-icon><span class="general-label"> MYTHOS</span></label>
                  <input 
                  matInput 
                  type="text"
                  autocomplete="off"
                  id="mythos"
                  ngModel="{{ character.mythos }}"
                  name="mythos"
                  #mythos="ngModel">
                </mat-form-field>
              </div>
              <div class="col-md-4 col-xs-12">
                <mat-form-field>
                  <label><fa-icon [icon]="icons.logos"></fa-icon><span class="general-label"> LOGOS</span></label>
                  <input 
                  matInput 
                  type="text"
                  autocomplete="off"
                  id="logos"
                  ngModel="{{ character.logos }}"
                  name="logos"
                  #logos="ngModel">
                </mat-form-field>
              </div>
            </div>
            <div class="update-button-div">
              <button mat-raised-button class="btn-mythos" type="submit">Update</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-2 col-xs-0"></div>
  </div>
  <div class="row" *ngIf="!isLoading && !mobile">
      <div class="col-lg-3 col-md-6 col-xs-10 card-slot" *ngFor="let card of cards; let cardIndex = index">
       <div class="card-container desktop">
        <div>
          <mat-card class="card-general">
            <mat-card-header>
              <mat-card-title>
                <p>
                  <fa-icon [icon]="icons.logos" *ngIf="getCardType(card.cardtype) === 'logos'"></fa-icon>
                  <fa-icon [icon]="icons.mythos" *ngIf="getCardType(card.cardtype) === 'mythos'"></fa-icon>
                  <span> {{getValues(card.title)}}</span>
                </p>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <form [formGroup]="'cardForm'+cardIndex">
                <mat-form-field>
                  <label><span class="tbcard-section-title">TITLE</span></label>
                  <input matInput type="text" formControlName="title" value="{{ getValues(card.title) }}" required>
                </mat-form-field>
                <mat-form-field>
                  <label>
                    <span *ngIf="getCardType(card.cardtype) === 'mythos'" class="tbcard-section-title">MYSTERY</span>
                    <span *ngIf="getCardType(card.cardtype) === 'logos'" class="tbcard-section-title">IDENTITY</span>
                  </label>
                  <input matInput type="text" formControlName="qors" value="{{ getValues(card.qors) }}" required>
                </mat-form-field>
                <div formGroupName="ptags">
                  <span class="tbcard-section-title">POWER TAGS</span>
                  <div *ngFor="let ptag of card.ptags; let tagIndex = index">
                    <mat-form-field class="input-tag-letter">
                      <input matInput type="text" formControlName="letter" value="{{ ptag.letter }}" required>
                    </mat-form-field>
                    <mat-form-field class="input-tag-tag">
                      <input matInput type="text" formControlName="tag" value="{{ ptag.tag }}" required>
                    </mat-form-field>
                  </div>
                  <button mat-icon-button color="primary" (click)="onAddTag(cardIndex, 'ptags')">
                    <fa-icon [icon]="icons.plus"></fa-icon>
                    </button> Add power tag
                </div>
                <div formGroupName="ptags">
                  <span class="tbcard-section-title">WEAKNESS TAGS</span>
                  <div *ngFor="let wtag of card.wtags">
                    <mat-form-field class="input-tag-letter">
                      <input matInput type="text" formControlName="letter" value="{{ wtag.letter }}">
                    </mat-form-field>
                    <mat-form-field class="input-tag-tag">
                      <input matInput type="text" formControlName="tag" value="{{ wtag.tag }}">
                    </mat-form-field>
                  </div>
                  <button mat-icon-button color="primary" (click)="onAddTag(cardIndex, 'wtags')">
                    <fa-icon [icon]="icons.plus"></fa-icon>
                    </button> Add weakness tag
                </div>
                <div class="update-button-div">
                  <button mat-raised-button class="btn-mythos" type="submit">Update</button>
                </div>
              </form>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
First Card: {{cardForm0.value | json}}<br>
Second Card: {{cardForm1.value | json}}<br>
Third Card: {{cardForm2.value | json}}<br>
Fourth Card: {{cardForm4.value | json}}<br>