@import url('https://fonts.googleapis.com/css?family=Changa+One&display=swap');

mat-card {
  margin-top: 10px;
}

.card-general {
  background: lightgrey;
  color: #000;
}

mat-card-title {
  font-family: 'Abril Fatface', cursive;
}

button {
  margin: auto;
}

.update-button-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-tag-letter {
  width: 10%;
}

.input-tag-tag {
  width: 90%;
}

.tbcard-section-title {
  display: block;
  font-family: 'Changa One', cursive;
  font-size: 1rem;
  font-weight: 400;
}

.general-label {
  display: inline;
  font-family: 'Changa One', cursive;
  font-size: 1rem;
  font-weight: 400;
}