mat-expansion-panel {
  margin-top: 10px;
}

mat-panel-title {
  font-family: 'Abril Fatface', cursive;
}

.mat-expansion-panel-header-title {
  color: inherit;
}

::ng-deep .logos > .mat-expansion-indicator::after {
  color: #000;
}

::ng-deep .mythos > .mat-expansion-indicator::after {
  color: #FFF;
}

#toprow {
  display: flex;
  align-items: center;
  justify-content: center;
}