/* Add application styles & imports to this file! */
/* @import "~@angular/material/prebuilt-themes/purple-green.css"; */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~swiper/dist/css/swiper.css';
/* @import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'); */
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Permanent+Marker|Rock+Salt&display=swap');

.mythos {
  background: #723881;
  color: #FFF;
}

.btn-mythos {
  background: #723881;
  color: #FFF;
}

.logos {
  background: #ffeecf;
  color: #000;
}

.btn-logos {
  background: #ffeecf;
  color: #000;
}

.general {
  background: lightgrey;
  color: #000;
}

.element-general {
  background-color: #d2c8c8;
}

mat-spinner {
  margin: 10px auto;
}

body { 
  padding-top: 70px; 
  background-color: #f7f7f7;
}

